{% extends "layout.html" %}

{% block content %}
    <h2>How Solo Leveling started?</h2>
    <div class="content-section">
        <p>
        Welcome to <b>[Solo Leveling]</b> — where curiosity meets clarity.

        This blog was born out of a simple idea: to explore, learn, and share insights about <b>flask web framework</b>. Whether you're here to get inspired, solve a problem, or just feed your curiosity, you're in the right place.

        I'm <b>[Ankit]</b> — a <i>[Self Taught Developer]</i>, storyteller at heart, and someone who believes that great content should be both useful and enjoyable. Through this blog, I aim to break down complex topics, highlight fresh perspectives, and offer content that actually helps.

        Thanks for stopping by — let’s explore something new together.
        </p>
    </div>
{% endblock content %}
